@model FormulariosBBDD.Models.TrabajadorModel

@{
    ViewData["Title"] = "Create";
}

<script>
    function OnEspecialistaCheck() {
        var checkbox = document.querySelector("input[id='Especialista']");
        var select = document.querySelector("select[id='Equipo']");

        if (checkbox.checked) {
            select.removeAttribute("disabled");
        }
        else {
            select.disabled = true;
        }
    }
</script>

<h1>Create</h1>

<h4>TrabajadorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NacionalidadID" class="control-label"></label>
                <select asp-for="NacionalidadID" class ="form-control" asp-items="ViewBag.NacionalidadID"></select>
            </div>

            <div class="form-group">
                <label asp-for="Actor" class="control-label"></label>
                <input type="checkbox" asp-for="Actor" class="form-check" />
            </div>

            <div class="form-group">
                <label asp-for="Especialista" class="control-label"></label>
                <input id="Especialista" type="checkbox" asp-for="Especialista" class="form-check" onclick="OnEspecialistaCheck()" />

                <label asp-for="Equipos" class="control-label"></label>
                <select multiple id="Equipo" disabled="true" asp-for="Equipos" class="form-control" asp-items="ViewBag.EquipoID"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
